body {
  text-align: center;
  background-color: lightblue;
}

img {
  width: 500px;
  height: 500px;
  filter: blur(2px);
  border: 5px solid pink;
  border-radius: 100%;
}

img:hover {
  filter: blur(0);
  box-shadow: 10px 10px 10px darkblue;
}

h1 {
  margin: 50px 0;
  font-size: 100px;
  font-family: 'Bitter', serif;
  font-weight: bolder;
}

p {
  margin-top: 20px;
  font-size: 1.5em;
  color: gray;
}
